/* General */
$fontSize: 10px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
$main: #0171d2;
$main-color: rgb(65, 65, 65, 0.5);
$dark-color: #525252;
$orange: #f7935c;
$gray: #8ab0c5;
$brown: #a75a5a;
$voilet: #787ca3;
$green: #79b993;
$red: #f05045;
$dark-black: #363636;
$pink: #ca537b;
$dark-green: #828c0d;
$light-red: #dc7075;
$dark-blue: #207979;
$light-blue: #84c3c9;
$dark-brown: #821818;
$dark-gray: #2a5673;
$light-green: #a0a479;
$light-gray: #cccccc;
$lightest-gray: #f3f3f3;
$lightest-blue: rgb(32, 151, 243, 0.1);
